* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

h1{
    font-size: 128px;
    font-family: sans-serif;
    font-weight: 900;
}
h2{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 450;
    text-align: center;
}
.destaque{
    background-color: #000;
    color: #ffffff;
    padding: 12px 32px;
    transition: 1s;
}

.destaque:hover{
    background-color: blue;  
    padding: 12px 64px;
    border-radius: 100px;
}